.header{
   padding: 32px 215px 32px;
   
}
.container{
    display: flex;
}
.web{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #2196F3;
}
.studio{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color:#212121;
}
.nav{
    margin-right: 250px;
}
.navigation-link{
    margin-right: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #2196F3;
}

.navigation-link1{
    margin-right: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #212121;   
}
.navigation-link2{
    margin-right: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.navigation-link3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
}


.link{
    list-style-type: none;
    display: inline-flex;
    
}
.link2{
    list-style-type: none;
    display: inline-flex;
}



.biznes_button{
    background-color:#2F303A;
    padding: 200px 0; 
    text-align:center;
    margin-bottom: 94px;
    
    
    }



.biznes{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 200px;452px;280px;452px;
    margin bottom: 30px;

}
.button{
    background-color:#2196F3;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
}
.skils2{
    display: none;
}
.skils{
    display: inline-flex;
    margin-left: 215px;
    list-style-type:none;

}
.skils1{
    width: 270px;
    

}
.h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}
.p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
    margin-right: 30px;
    margin-bottom: 94px;
}


.work{
    
}
.work1{
    
    
    list-style-type:none
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #212121;
    margin bottom: 94px;
    
}
.foto{
    margin-left: 30px;
    margin-bottom: 94px;
}

.command{
    
    
}

.fotoss{
   
    display: inline-flex;
    text-align:center;
    list-style-type:none;
    margin-left: 215px;
    
}

.fotoss2{
    
    display: inline-flex;
    text-align:center;
    margin-left: 215px;
    list-style-type: none;
    
    
} 
.fotoss3{
    margin-right: 30px;
}


.command2{
   
    text-align:center;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #212121; 
}
.name{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #212121;
margin-right: 30px;

}
.work2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;      
    text-align: center;       
    color: #757575;  
    
}

.footer{
    background-color: #2F303A;
    padding-left: 215px;
    padding-top: 94px;
    padding-bottom: 60px;
}

.link-item{
    list-style-type:none;
    margin-top: 20px;   
}
.navigation{
margin-bottom: 9px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;


}
.navigation1{
margin-bottom: 9px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: rgba(255, 255, 255, 0.6);
}
