.biznes_button{
    background-color:#2F303A;
    width: 1600px;
    height: 600px;
}

.biznes{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    width: 696px;
    height: 120px;
    padding: 200px;452px;280px;452px;
    margin bottom: 30px;

}
.button{
    background-color:#2196F3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
  

    

}

.footer{
    background-color: #2F303A;
}